{% extends "base.html" %}

{% block title %}About{% endblock %}
<div class="container">
    {% block header %}
    <h1>Divide and Conquer</h1>
    {% endblock %}
    {% block content %}
    <p>This app is built using Django 1.10.5 and Python 3.5.1.</p>
    <p>It's my  first incursion into Django, but I found that the documentation online was very clear and helpful.
        I started with this tutorial at <a href="https://scotch.io/tutorials/build-your-first-python-and-django-application">
            scotch.io</a>, and then used mostly the official docs.
    </p>
    {% endblock %}

</div>
